<!doctype html>
<html>
<link rel="stylesheet" href="css/style.css">
<head>
</head>
<body>

	<h2>{{ 'fbt.title' | trans }}</h2>
	<div class="a-container">
			<form>
					<ul class="a-nostyle a-horizontal a-spacing-base a-spacing-top-base sims-fbt-image-box">
						{% for item in items -%}
						{% if loop.index0 -%}
						<li class="a-align-center">
							<span class="a-list-item a-size-large a-color-tertiary">+</span>
						</li>
						{%- endif -%}
						<li class="a-align-center">
							<span class="a-list-item">
								<div class="a-section">
									<img alt="{{ item.title }}" src="{{ item.image }}" class="sims-fbt-image">
								</div>
							</span>
						</li>
						{%- endfor %}
					</ul>
					<div class="sims-fbt-price-box">
						<div>
							<span class="a-size-base a-color-secondary">{{ 'price.total' | trans }} </span>
							<span class="a-size-medium a-color-price">${{ total }}</span>
						</div>
						<div class="sims-fbt-buttons">
							<div class="a-button-stack a-spacing-mini">
								<span class="a-button a-button-primary a-button-small">
									<span class="a-button-inner">
										<input class="a-button-input" type="submit">
										<span class="a-button-text" aria-hidden="true">{{ 'cart.button' | transchoice( items | length ) }}</span>
									</span>
								</span>
								<span class="a-button a-button-normal a-button-small">
									<span class="a-button-inner">
										<input class="a-button-input" type="submit">
										<span class="a-button-text a-text-center" aria-hidden="true">{{ 'list.button' | transchoice( items | length ) }}</span>
									</span>
								</span>
							</div>
						</div>
					</div>
				<div class="sims-fbt-rows">
					<fieldset>
						<ul class="a-nostyle a-vertical">
						{% for item in items -%}
							<li class="a-spacing-mini">
								<span class="a-list-item">
									<span class="a-declarative">
										<div class="a-checkbox sims-fbt-checkbox">
											<label>
												<input type="checkbox" checked="">{#- no-spacing -#}
												<span class="a-label a-checkbox-label">
													<div>
														{% if loop.index0 %}
														<a class="a-size-base a-link-normal" href="#">{{ item.title }}</a>
														{% else %}
														<span class="sims-fbt-this-item a-text-bold">{{ 'this_item.title' | trans }}</span>{#- no-spacing -#}
														<span>{{ item.title }}</span>
														{% endif %}
														<span class="a-color-price">${{ item.price }}</span>
													</div>
												</span>
											</label>
										</div>
									</span>
								</span>
							</li>
						{%- endfor %}
						</ul>
					</fieldset>
				</div>
			</form>
	</div>

</body>
</html>
